@use "@/App.module.scss" as *;

//
.headerBackground {
    @include artBackground("@/assets/testBg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: visible;

    @media (max-width: 768px) {
        @include artBackground("@/assets/testBg2.png");
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
    }
}

.welcomeText {
    text-align: left;
    margin-bottom: 130vh;
    margin-right: 40vw;
    color: #d76ff9; // Adjust color as needed

    @media (max-width: 768px) {
        margin-bottom: 95vh;  // Adjust margin for smaller screens
        margin-right: 10vw;  // Adjust margin for smaller screens
        text-align: center;  // Center text on mobile
        scale: 90%;
    }
}

.welcomeText h1 {
    font-family: 'Titan One', sans-serif;
    font-size: 7vw; // Responsive text size
    font-weight: bold;
    margin: 0;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);

    @media (max-width: 768px) {
        font-size: 10vw;  // Adjust font size for smaller screens
        margin-bottom: 1rem;  // Add spacing between "Welcome To" and "Luma"
    }
}

.welcomeText h1:nth-child(2) {
    margin-left: 12vw;

    @media (max-width: 768px) {
        margin-left: 0;  // Remove margin-left to center on mobile
    }
}

.descriptionContainer {
    position: absolute;
    top: 28%;
    left: 5%; /* Center horizontally */
    width: 100%;
    max-width: 45%;
    height: auto;
    color: #ae93b4;
    font-size: 1.8vw; /* Scalable font size based on viewport width */
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
    font-family: 'Paytone One', sans-serif;
    z-index: 2;

    @media (max-width: 768px) {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 80%;  // Adjust width for mobile
        font-size: 4vw;  // Adjust font size for mobile
    }
}

.newLogo {
    position: absolute;
    top: 9%;
    left: 75%;
    transform: translateX(-50%);
    width: 40%;
    height: auto;
    z-index: 1;
    filter: drop-shadow(0px 0px 20px rgba(215, 111, 249, 0.3));

    @media (max-width: 768px) {
        padding-top: 5%;
        top: 15%;
        left: 34%;
        transform: translateX(-50%);
        width: 60%;  // Adjust logo size for mobile
        z-index: 0;
    }
}

.littleLumaIcon {
    position: absolute;
    top: 15.5%;
    left: 12%;
    transform: translateX(-50%);
    width: 12%;
    height: auto;
    z-index: 4;

    @media (max-width: 768px) {
        display: none;
    }
}
