@use "@/App.module.scss" as *;

.background {
  @include artBackground("@/assets/BlurredStarsBackground.webp");
}



.voteLinksCard {
    @include cardParent;
    justify-content: flex-start;
    width: 45%;
    height: 40%;
    margin-left: -50%;

    @media (max-width: 768px) { // Phone
        margin-top: 37%;
        margin-left: unset;
    }

}

.voteLinksCardText {
    color: $primary-color;
    font-family: 'Paytone One', sans-serif;
    text-transform: uppercase;
    margin-left: 3%;
    margin-top: -2%;
}

.voteLinksCardButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 4%;
    row-gap: 20px;
    flex-wrap: wrap;
}