// Logo section
.logoImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //width: 100%;
  top: -2vh;
  width: 38vw;
  max-width: 330px;
  height: auto;
  transition: transform 0.3s ease;

  @media (max-width: 768px) {
    width: 50vh;
    max-width: 100%;
  }

  &:hover {
    transform: scale(1.05);
  }
}

// Button container
.btnContainer {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
  position: absolute;
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease;
}



@mixin btnParent {
  all: unset;

  h2 {
    all: unset;
    position: absolute;
    top: 20%;
    font-size: 100%;
    color: #911AB0;
    font-family: "Paytone One", sans-serif;
  }
  h3 {
    all: unset;
    position: absolute;
    top: 45%;
    font-family: 'Poppins', sans-serif;
    color: rgba(205, 184, 208);
    font-size:85%;
  }
  img {
    width: 22vw;
    height: auto;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }

    @media (max-width: 768px) { // Phone
      width: 15%;
      margin-bottom: 2vh;
      margin-right: 25vh;
    }
  }
}

.playBtnImg {
  @include btnParent;

  h2 {
    right: 72.5%;
  }
  h3 {
    right: 72.5%;
  }

  img {
    max-width: 80px;
    margin-right: 30vh;
  }
}

.discordBtnImg {
  @include btnParent;

  h2 {
    left: 72.2%;
  }
  h3 {
    left: 72.4%;
  }
  img {
    max-width: 75px;
    margin-left: 30vh;
  }
}