@use "@/App.module.scss" as *;


.labelContainer {
  position: absolute;
  display: flex;
  justify-content: center;
}

.logoContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
}

// Logo section
.logoImage {
  //top: 10vh;
  //left: 50%;
  width: 38vw;
  max-width: 330px;
  height: auto;
  transition: transform 0.3s ease;

  @media (max-width: 768px) {
    width: 40vh;
    max-width: 100%;
  }

  &:hover {
    transform: scale(1.05);

    //@media (max-width: 768px) {
    //  transform: translateX(-50%);
    //}
  }

}

/// Button container
.btnContainer {
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-top: 5vh;
  position: absolute;
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease;

  @media (max-width: 768px) { // On mobile
    top: -10vh;
    width: 17%;
    margin: 0;
  }
}

// Play Button
.playBtnContainer {
  @extend .btnContainer;
  right: calc(82% + 80px);


  @media (max-width: 768px) { // On mobile
    right: unset;
    left: 75%;
  }
}

// Discord Button
.discordBtnContainer {
  @extend .btnContainer;
  left: calc(78% + 80px);

  @media (max-width: 768px) { // On mobile
    left: 95%;
  }
}


.btnParent {
  all: unset;
  cursor: pointer;

  h2 {
    white-space: nowrap;
    position: absolute;
    top: 3%;
    font-size: 100%;
    color: $primary-color;
    font-family: 'Paytone One', sans-serif;
    text-transform: uppercase;

    @media (max-width: 768px) {
      display: none;
    }
  }
  h3 {
    white-space: nowrap;
    position: absolute;
    top: 25%;
    font-family: 'Poppins', sans-serif;
    color: $secondary-color;
    font-size:85%;
    text-transform: uppercase;

    @media (max-width: 768px) {
      display: none;
    }
  }
  img {
    width: 22vw;
    height: auto;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
      @media (max-width: 768px) { // Phone
        transform: none
      }
    }

    @media (max-width: 768px) { // Phone
      width: 100%;
      margin-bottom: 2vh;
      margin-right: 29vw;
    }
  }
}

.playBtnImg {
  @extend .btnParent;

  h2, h3 {
    right: 120%;
    @media (max-width: 768px) { // Phone

    }
  }

  img {
    max-width: 80px;
  }
}

.discordBtnImg {
  @extend .btnParent;

  h2, h3 {
    left: 140%;
    @media (max-width: 768px) { // Phone

    }
  }
  //h3 {
  //  left: 70.1%;
  //}
  img {
    max-width: 75px;
  }
}

.hoverText {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  transform: translateY(5px); /* Moves text slightly down when hidden */
}
