@use "@/App.module.scss" as *;

// Logo section
.logoImage {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  //width: 100%;
  top: 10vh;
  right: 39%;
  width: 38vw;
  max-width: 330px;
  height: auto;
  transition: transform 0.3s ease;

  @media (max-width: 768px) {
    width: 50vh;
    max-width: 100%;
  }

  &:hover {
    transform: scale(1.05);
  }
}

// Button container
@mixin btnContainer {
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-top: 5vh;
  position: absolute;
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease;
}

.playBtnContainer {
  @include btnContainer;
  margin-right: 60vh;
}

.discordBtnContainer {
  @include btnContainer;
  margin-left: 60vh;
}



@mixin btnParent {
  all: unset;
  cursor: pointer;

  h2 {
    all: unset;
    white-space: nowrap;
    position: absolute;
    top: 20%;
    font-size: 100%;
    color: $primary-color;
    font-family: "Paytone One", sans-serif;
    text-transform: uppercase;
  }
  h3 {
    all: unset;
    white-space: nowrap;
    position: absolute;
    top: 45%;
    font-family: 'Poppins', sans-serif;
    color: $secondary-color;
    font-size:85%;
    text-transform: uppercase;
  }
  img {
    width: 22vw;
    height: auto;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }

    @media (max-width: 768px) { // Phone
      width: 15%;
      margin-bottom: 2vh;
      margin-right: 25vh;
    }
  }
}

.playBtnImg {
  @include btnParent;

  h2 {
    right: 70%;
  }
  h3 {
    right: 70%;
  }

  img {
    max-width: 80px;

  }
}

.discordBtnImg {
  @include btnParent;

  h2 {
    left: 70%;
  }
  h3 {
    left: 70.1%;
  }
  img {
    max-width: 75px;

  }
}

.hoverText {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  transform: translateY(5px); /* Moves text slightly down when hidden */
}
