.leadContentText {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    width: 90vw;
    padding: 0 5vw;
    color: rgba(205,184,208,90%);

    h1 {
        font-size: 3rem;
        margin: 0;
        width: 100%;
        font-family: "Paytone One", sans-serif;
        color: rgba(205,184,208,90%)
    }

    @media (max-width: 758px) {
        top: 55%;
    }
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-top: -2%;

    @media (max-width: 768px) {
        gap: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12vh;
    }
}

.smallImage {
    width: 28%;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1); // Slight zoom on hover
    }


    @media (max-width: 768px) { // Phone
        width: 10%;
        transform: scale(3.4);

        &:hover {
            transform: scale(3.5);
        }
    }
}
