.mainContainer {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-position: top center;
    background-color: black;
}

.imageHover {
    transition: transform 0.3s ease;
}

.imageHover:hover {
    transform: scale(1.020);
}

.heroSection {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column; /* Make it stack sections vertically */
}

.heroImage {
    width: 100%;
    height: auto; /* Ensures the full image is shown initially */
    max-height: 100vh; /* Prevents it from being too tall */
    object-fit: contain; /* Shows the full image without cropping at first */
}

/* When the screen size shrinks, switch to cropping the sides */
@media (max-width: 768px) {
    .heroImage {
        height: 100vh; /* Forces it to always fit the screen height */
        object-fit: cover; /* Crops the sides instead of shrinking */
    }
}




html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    overflow-y: auto;   /* Allows vertical scrolling */
}
html::-webkit-scrollbar {
    display: none;
}


