@use '@/App.module.scss' as *;

// Navbar styles
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;

        div {
            width: 25px;
            height: 3px;
            background-color: white;
            border-radius: 5px;
            transition: all 0.3s ease;
        }
    }



    /* Responsive: Show hamburger on small screens */
    @media (max-width: 768px) {
        .hamburger {
            display: flex;
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 1100;
        }

        .navList {
            display: none;
            flex-direction: column;
            gap: 20px;
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            padding: 10px;
            border-radius: 8px;

            &.open {
                display: flex;
            }

            .navItem {
                font-size: 24px;
                padding: 15px;
                text-align: center;
                width: 100%;
            }
        }

        .hamburger.open {
            div:nth-child(1) {
                transform: rotate(45deg) translateY(8px);
            }

            div:nth-child(2) {
                opacity: 0;
            }

            div:nth-child(3) {
                transform: rotate(-45deg) translateY(-8px);
            }
        }
    }
}

.navList {
    list-style: none;
    display: flex;
    gap: 3.2vw; //45px;
    margin: 0;
    padding: 1%;

    .navItem {
        color: white;
        font-family: 'Paytone One', sans-serif;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s ease, transform 0.3s ease;
        display: flex;
        align-items: center;

        &:hover {
            color: #f4f4f4;
            transform: scale(1.1);
        }

        .navIcon {
            margin-right: 10px;
            font-size: 24px;
        }

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: #ccc;
            }
        }
    }
}

