@use "@/App.module" as *;

.topVoterContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers all content horizontally */
    justify-content: center; /* Centers all content vertically */
    text-align: center;
}

.bodyRenderContainer {
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
    width: 100%;
}

.bodyRenderImage {
    width: 50%; /* Adjust as needed */
    display: block;
    margin: auto; /* Ensures centering */
}


.textContainer {
    text-align: center;
    margin-top: 10px;
}

%textStyle {
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
}

.textStyle1 {
    @extend %textStyle;
    color: $primary-color;
    font-family: 'Paytone One', sans-serif;
}

.textStyle2 {
    @extend %textStyle;
    font-family: 'Poppins', sans-serif;
    color: $secondary-color;
}