@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.newsPostBackground {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Keeps content aligned at the top */
    min-height: 100vh; /* Ensure it occupies full viewport height */
    position: relative; /* Ensure that children can be absolutely positioned inside */
    padding-top: 80px;
    padding-bottom: 60px;
    background-image: url("../../assets/SpaceBg.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}

.articleCard {
    /* Add shadows to create the "card" effect */
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
    background: rgb(22, 22, 22);
    margin-top: 50px;
    padding-bottom: 30px;
}

.articleImage {
    width: 100%;
    height: 400px;
    object-fit: cover; /* Ensures the image fills the height while maintaining aspect ratio */
    object-position: center; /* Centers the image */
    border-radius: 10px 10px 0 0; /* Rounded corners on top */
}

.articleAuthorContainer {
    font-family: "Paytone One", sans-serif;
    display: flex;
    align-items: center;
    color: rgba(205,184,208);
    margin-bottom: 20px; /* Adjust the value as needed */
}

.articleAuthorImageContainer {
    border-radius: 10%;
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.articleCardText {
    /*font-family: 'Poppins', sans-serif;*/
    font-size: 1.1rem;
    padding-left: 12.5%;
    width: 60vw;
    color: rgba(205,184,208);
}

.articleCardText h1 {
    /* Center text */
    text-align: center;
    color: #911AB0;
    font-family: "Paytone One", sans-serif;
    filter: drop-shadow(0 0 2em rgb(96, 0, 159));
}

.articleCardText strong {
    font-family: 'Poppins', sans-serif;
}
