@use "@/App.module.scss" as *;

.newsPostBackground {
    @include artBackground("@/assets/SpaceBackground.webp");
}

.articleCard {
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; // Rounded corners
    background: $card-color;
    margin-top: 25vh;
    padding-bottom: 30px;

    @media (max-width: 768px) {
        width: 97%;
        //margin-top: 20vh;
    }
}

.articleAuthorContainer {
    font-family: "Paytone One", sans-serif;
    display: flex;
    align-items: center;
    color: $secondary-color;
    margin-top: 70px;
    margin-bottom: 20px;
}

.articleCardText {
    font-size: 1.1rem;
    padding-left: 12.5%;
    width: 60vw;
    color: $secondary-color;

    @media (max-width: 768px) {
        padding-left: 5%;
        width: 90vw;
    }

    h1 {
        text-align: center;
        color: $primary-color;
        font-family: 'Paytone One', sans-serif;
        filter: drop-shadow(0 0 2em rgb(96, 0, 159));
    }

    a,
    code {
        color: $primary-color;
    }

    strong {
        font-family: 'Poppins', sans-serif;
    }
}


.articleImage {
    width: 100%;
    height: 400px;
    object-fit: cover; // image fills the height while maintaining aspect ratio
    object-position: center; // center the image
    border-radius: 10px 10px 0 0; // Rounded corners on top

    @media (max-width: 768px) {
        // zoom out of the image more on smaller screens
        height: 200px;
    }
}
.articleAuthorImageContainer {
    border-radius: 10%;
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

