@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,700;1,900&display=swap');


$primary-color: #911AB0;
$secondary-color: #cdb8d0;

@mixin artBackground($bg-url) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    position: relative;
    padding-top: 80px;
    padding-bottom: 60px;
    background-image: url($bg-url);
    background-size: cover;
    background-position: center;
}

.appContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}