@use "@/App.module.scss" as *;

.rulesBackground {
    @include artBackground("@/assets/RulesBG.webp");
    padding-bottom: 10px;

    @media (max-width: 768px) { // Phone
        padding-bottom: 40%;
    }

    @media (max-width: 1024px) { // Tablet

    }
}



// Rules Cards

@mixin rulesCardParent {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; // Rounded corners
    background: #200c2c;
    margin-top: 14%;
    height: 50%;
    padding-bottom: 30px;

    @media (max-width: 768px) { // Phone
        justify-content: center;
        width: 90%;
    }
}

.rulesCardSelector {
    @include rulesCardParent;
    justify-content: flex-start;
    width: 20%;
    margin-right: 60%;

    @media (max-width: 768px) { // Phone
        height: 6%;
        margin-top: 37%;
        margin-right: 0;
    }

    @media (max-width: 1024px) { // Tablet

    }
}

.rulesCardSelectorTitle {
    text-align: center;
}

.rulesCardSelectorNavItem {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1px;
    box-sizing: border-box;
    transition: 0.25s;
    color: $primary-color;
    padding: 0.5rem calc(1.75rem - 5px);
    display: block;
    border-left: 5px solid $primary-color;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: rgba($primary-color, 0.1); /* Light background on hover */
        border-left: 5px solid $primary-color; /* Highlight the left border */
    }

    &:active {
        transform: scale(0.98); /* Slight shrink effect on click */
        background-color: rgba($primary-color, 0.2); /* Darker background when active */
    }
}

.rulesCard {
    @include rulesCardParent;
    overflow: auto;
    width: 57%;
    margin-left: 24%;

    // Hide for modern browsers
    &::-webkit-scrollbar {
        display: none;
    }
    // Hide for Firefox
    scrollbar-width: none;
    // Hide for IE and Edge (legacy)
    -ms-overflow-style: none;

    @media (max-width: 768px) { // Phone
        margin-top: 47vh;
        margin-left: 0;
    }

    @media (max-width: 1024px) { // Tablet

    }
}


@mixin littleImgParent {
    position: absolute;
    transition: transform 0.3s ease;
    width: 10%;
    z-index: 10; // Make sure it stays on top
    //&:hover {
    //    transform: scale(1.03);
    //}
    @media (max-width: 768px) { // Phone
        display: none;
    }
}

.judgeLumaImg {
    @include littleImgParent;
    top: 71%;
    left: 7.6%;
}

.gavelImg {
    @include littleImgParent;
    right: 7.2%;
    bottom: 58%;
}

.rulesTextStyles {


    h1 {
        color: $primary-color;
        font-family: 'Paytone One', sans-serif;
        text-transform: uppercase;
    }

    h2 {
        color: $primary-color;
        font-family: 'Paytone One', sans-serif;
    }

    strong {
        color: $secondary-color;
        font-family: 'Paytone One', sans-serif;
    }

    p {
        color: $secondary-color;
        font-size: 90%;
        font-family: 'Poppins', sans-serif;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    li {
        color: $secondary-color;
        font-size: 90%;
        font-family: 'Poppins', sans-serif;
    }
}

.rulesTransition {
    transition: opacity 300ms ease-in-out;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

.rulesTitleText {
    bottom: 48vh;
    margin-left: 5vh;
    opacity: inherit;
    transition: opacity 300ms ease-in-out;
}

.rulesBodyText {
    bottom: 37vh;
    margin-left: 5vh;
    width: 80%;
    opacity: inherit;
    transition: opacity 800ms ease-in-out;
}

.iconSmall {
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.inlineText {
    display: inline-block;
    vertical-align: middle;
}
